<template>
        <h2>
            <slot />
        </h2>
</template>

    <script>
        export default {
            name: "Header2"
        }
    </script>

    <style scoped>

        h2{
            font-family: var(--main-font);
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
        }
    </style>