<template>
        <h3>
            <slot />
        </h3>
</template>

    <script>
        export default {
            name: "Header3"
        }
    </script>

    <style scoped>

        h3{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }
    </style>